/*Course category row section*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.course-embed .eli_row { position: relative; padding-top: 10px; overflow: hidden; }
.course-embed .eli_column { float: left; width: 14.083%; margin-right: 2.5%; }
.course-embed .eli_content { text-align: left; max-width: 153px; }
.course-embed .eli_content .eli_image { float: left; background-color: #522E92; border-radius: 100%; }
.course-embed .eli_content .eli_image i { color: #fff; font-size: 16px; padding: 10px;  }
.course-embed .eli_content .eli_cat-name { display: table-cell; padding-left: 16px; font-size: 17px; color: #666; margin-left: 45px; }


@media screen and (min-width: 361px) and (max-width: 768px) {
    .course-embed .eli_column { width: 38.08%; margin-top: 4.5%; }
    .course-embed .eli_content { max-width: initial !important; margin: 25px 0 !important; }
}

@media screen and (min-width: 160px) and (max-width: 360px) {
    .course-embed .eli_column { width: 100%; margin-top: 4.5%; margin-bottom: 30px; }
    .course-embed .eli_content { max-width: 100%; }
}

@media screen and (min-width: 970px) and (max-width: 1080px) {
    .course-embed ul.llms-loop-list { padding-left: 0.95em; }
    .course-embed .owl-carousel .owl-nav .owl-next { top: 0; left: 0px; }
    .course-embed .owl-carousel .owl-nav .owl-prev { top: 0; right: 0px; }
}

/**/

.llms-loop-list .llms-loop-item a { text-decoration: none !important;}

.course-embed .llms-loop-item-content .llms-loop-item-image img {
    border-radius: 0 !important;
}

.course-embed  h1, h2, h3, h4, h5, h6 {
    color: #db3476
}

/*.woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message, .woocommerce-error, .woocommerce-info {*/
/*background: #db3476 !important*/
/*}*/

.course-embed  #et_search_icon:hover, .mobile_menu_bar:before, .mobile_menu_bar:after, .et_toggle_slide_menu:after, .et-social-icon a:hover, .et_pb_sum, .et_pb_pricing li a, .et_pb_pricing_table_button, .et_overlay:before, .entry-summary p.price ins, .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price, .et_pb_member_social_links a:hover, .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before, .et_pb_widget li a:hover, .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active, .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active, .et_pb_gallery .et_pb_gallery_pagination ul li a.active, .wp-pagenavi span.current, .wp-pagenavi a:hover, .nav-single a, .tagged_as a, .posted_in a {
    color: #db3476
}

.course-embed .et_pb_contact_submit, .et_password_protected_form .et_submit_button, .et_pb_bg_layout_light .et_pb_newsletter_button, .comment-reply-link, .form-submit .et_pb_button, .et_pb_bg_layout_light .et_pb_promo_button, .et_pb_bg_layout_light .et_pb_more_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce button.button.alt.disabled, .woocommerce-page button.button.alt, .woocommerce-page button.button.alt.disabled, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .et_pb_contact p input[type="checkbox"]:checked + label i:before, .et_pb_bg_layout_light.et_pb_module.et_pb_button {
    color: #db3476
}

.course-embed .footer-widget h4 {
    color: #db3476
}

.course-embed .et-search-form, .nav li ul, .et_mobile_menu, .footer-widget li:before, .et_pb_pricing li:before, blockquote {
    border-color: #db3476
}

.course-embed .et_pb_counter_amount, .et_pb_featured_table .et_pb_pricing_heading, .et_quote_content, .et_link_content, .et_audio_content, .et_pb_post_slider.et_pb_bg_layout_dark, .et_slide_in_menu_container, .et_pb_contact p input[type="radio"]:checked + label i:before {
    background-color: #db3476
}

.course-embed .container, .et_pb_row, .et_pb_slider .et_pb_container, .et_pb_fullwidth_section .et_pb_title_container, .et_pb_fullwidth_section .et_pb_title_featured_container, .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container {
    max-width: 1290px
}

.course-embed .et_boxed_layout #page-container, .et_boxed_layout.et_non_fixed_nav.et_transparent_nav #page-container #top-header, .et_boxed_layout.et_non_fixed_nav.et_transparent_nav #page-container #main-header, .et_fixed_nav.et_boxed_layout #page-container #top-header, .et_fixed_nav.et_boxed_layout #page-container #main-header, .et_boxed_layout #page-container .container, .et_boxed_layout #page-container .et_pb_row {
    max-width: 1450px
}

.course-embed a {
    color: #db3476
}

.course-embed #top-header, #et-secondary-nav li ul {
    background-color: #db3476
}

.course-embed #footer-widgets .footer-widget a, #footer-widgets .footer-widget li a, #footer-widgets .footer-widget li a:hover {
    color: #ffffff
}

.course-embed .footer-widget {
    color: #ffffff
}

.course-embed #main-footer .footer-widget h4 {
    color: #db3476
}

.course-embed .footer-widget li:before {
    border-color: #db3476
}

.course-embed h1, h2, h3, h4, h5, h6, .et_quote_content blockquote p, .et_pb_slide_description .et_pb_slide_title {
    line-height: 1.2em
}

.course-embed .et_slide_in_menu_container, .et_slide_in_menu_container .et-search-field {
    letter-spacing: px
}

.course-embed .et_slide_in_menu_container .et-search-field::-moz-placeholder {
    letter-spacing: px
}

.course-embed .et_slide_in_menu_container .et-search-field::-webkit-input-placeholder {
    letter-spacing: px
}

.course-embed .et_slide_in_menu_container .et-search-field:-ms-input-placeholder {
    letter-spacing: px
}

@media only screen and (min-width: 981px) {
    .course-embed .et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation {
        padding: 40px 0 0 0
    }

    .course-embed .et_header_style_left #et-top-navigation nav > ul > li > a, .et_header_style_split #et-top-navigation nav > ul > li > a {
        padding-bottom: 40px
    }

    .course-embed .et_header_style_split .centered-inline-logo-wrap {
        width: 79px;
        margin: -79px 0
    }

    .course-embed .et_header_style_split .centered-inline-logo-wrap #logo {
        max-height: 79px
    }

    .course-embed .et_pb_svg_logo.et_header_style_split .centered-inline-logo-wrap #logo {
        height: 79px
    }

    .course-embed .et_header_style_centered #top-menu > li > a {
        padding-bottom: 14px
    }

    .course-embed .et_header_style_slide #et-top-navigation, .et_header_style_fullscreen #et-top-navigation {
        padding: 31px 0 31px 0 !important
    }

    .course-embed .et_header_style_centered #main-header .logo_container {
        height: 79px
    }

    .course-embed #logo {
        max-height: 71%
    }

    .course-embed .et_pb_svg_logo #logo {
        height: 71%
    }

    .course-embed .et_header_style_centered.et_hide_primary_logo #main-header:not(.et-fixed-header) .logo_container, .et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container {
        height: 14.22px;
    }

    .course-embed .et-fixed-header#top-header, .et-fixed-header#top-header #et-secondary-nav li ul {
        background-color: #db3476
    }
}

@media only screen and (min-width: 1612px) {
    .course-embed .et_pb_row {
        padding: 32px 0
    }

    .course-embed .et_pb_section {
        padding: 64px 0
    }

    .course-embed .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {
        padding-top: 96px
    }

    .course-embed .et_pb_fullwidth_section {
        padding: 0
    }
}

.course-embed span.gc-cs-link {
    color: inherit !important;
    text-decoration: none !important
}

.course-embed div#featured-client-logos {
    background-image: none !important
}

.course-embed  #top-menu li.current-menu-item > a {
    color: #db3476
}

.course-embed  .pagination a, .et_pb_posts_nav a {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 1.0em 1.5em;
    font-size: 1.2em;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    color: #FFF !important;
    background: #db3476;
    border-radius: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.course-embed  .pagination a:hover, .et_pb_posts_nav a:hover {
    background: #000;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

@media (min-width: 981px) {
    .course-embed  .et_fullwidth_nav #main-header .container {
        width: 100% !important;
        max-width: 100%;
        padding-right: 30px
    }
}

.course-embed .et_pb_button {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}

.course-embed .tribe-mini-calendar-event .list-date {
    margin: 12px 2% 10px 0;
    width: 18%
}

@media (max-width: 980px) {
    .course-embed .et_header_style_left #logo {
        height: 50px;
        width: auto
    }

    .course-embed .llms-loop-item-content { height: auto; }

    .course-embed #logo {
        height: 50px;
        width: auto
    }
}

.course-embed #page-container {
    overflow: hidden
}

.course-embed .container {
    width: 90% !important
}

.course-embed .et_pb_widget_area_left {
    padding-right: 10px;
    border-right: 0px solid rgba(0, 0, 0, .1);
}

.course-embed a.tribe-events-read-more {
    background: #db3476;
    color: #fff;
    padding: 12px;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px !important;
    display: inline-block
}

.course-embed a.tribe-events-read-more:hover {
    background: #6aa2ca;
    color: #fff;
    padding: 12px;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px !important;
    display: inline-block
}

.course-embed #tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
    margin: 0px 0 25px !important
}

.course-embed span.tribe-event-time, .tribe-events-list-separator-month, #tribe-events-footer, .single-tribe_events .tribe-events-event-meta {
    display: none !important
}

.course-embed div.tribe-event-schedule-details {
    font-weight: 500 !important;
    font-size: 15px !important
}

.course-embed #tribe-events .tribe-events-content p {
    line-height: 1.4;
    font-size: 17px
}

.course-embed #tribe-geo-results h2.tribe-events-page-title, h2.tribe-events-page-title {
    color: #6aa2ca !important
}

.course-embed #tribe-events .tribe-events-button, .tribe-events-button {
    background: #6aa2ca !important
}

.course-embed #tribe-events .tribe-events-button:hover, .tribe-events-button:hover {
    background: #db3476 !important
}

.course-embed .tribe-events-schedule h2 {
    font-weight: 500 !important;
    color: #555 !important;
    font-size: 23px
}

.course-embed .single-tribe_events .tribe-events-single-event-title {
    font-size: 1.7em;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #6aa2ca
}

.course-embed .single-tribe_events .tribe-events-event-image {
    display: none
}

.course-embed #tribe-events .tribe-events-content p {
    font-size: inherit !important
}

.course-embed #tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
    margin: 0px 0 0px !important
}

.course-embed #main-header .et_mobile_menu .menu-item-has-children > a:after {
    content: '\4c' !important
}

.course-embed #main-header .et_mobile_menu .menu-item-has-children.visible > a:after {
    content: '\4d' !important
}

.course-embed .et-social-icons li {
    margin-left: 11px;
    margin-right: 11px
}

.course-embed #main-footer {
    background-color: #555 !important
}

.course-embed a.biggreen:hover {
    color: #fff !important;
    background: #6aa2ca !important;
    box-shadow: none !important
}

.course-embed a.biggreen {
    color: #FFF !important;
    background: #db3476 !important;
    border: none !important;
    box-shadow: none !important
}

.course-embed a.big-button {
    border-radius: 4px !important
}

.course-embed .box-shadow-3, .box-shadow-3-hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

@media (min-width: 481px) {
    .course-embed input[type=checkbox] {
        position: relative;
        cursor: pointer;
        visibility: inherit;
        display: -webkit-inline-box
    }

    .course-embed input[type=checkbox] {
        -webkit-appearance: none !important
    }

    .course-embed input[type=checkbox]:before {
        font-family: "ETmodules" !important;
        font-size: 30px;
        position: relative;
        top: 0.3em;
        margin-right: 0.2em;
        content: '\056';
        color: #666
    }

    .course-embed input[type=checkbox]:hover:before {
        content: '\05a';
        filter: alpha(opacity=40);
        opacity: 0.4
    }

    .course-embed input[type=checkbox]:checked:before {
        content: '\05a';
        color: #db3476
    }

    .course-embed input[type=checkbox]:checked:hover:before {
        color: #db3476;
        filter: alpha(opacity=100);
        opacity: 1
    }
}

.course-embed .gform_wrapper ul.gfield_radio li input[type=radio] {
    visibility: hidden;
    margin: 0;
    width: 0 !important
}

.course-embed .gform_wrapper input[type=radio] + label {
    font-size: 16px
}

.course-embed input[type=radio] + label:hover {
    cursor: pointer
}

.course-embed input[type=radio] + label:before {
    font-family: "ETmodules" !important;
    font-size: 30px;
    position: relative;
    top: 0.3em;
    margin-right: 0.2em
}

.course-embed .gform_wrapper li.gf_list_inline ul.gfield_radio li {
    display: -moz-inline;
    display: inline
}

.course-embed input[type=radio] + label:before {
    content: '\05b'
}

.course-embed input[type=radio] + label:hover:before {
    content: '\05c';
    filter: alpha(opacity=40);
    opacity: 0.4
}

.course-embed input[type=radio]:checked + label:before {
    content: '\05c';
    color: #db3476
}

.course-embed input[type=radio]:checked + label:hover:before {
    color: #db3476;
    filter: alpha(opacity=100);
    opacity: 1
}

.course-embed .gform_wrapper ul.gfield_radio li input[type=radio]:checked + label {
    font-weight: normal
}

@media only screen and (min-width: 641px) {
    .course-embed .gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li {
        margin: 0 0 0px
    }
}

.course-embed .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px !important
}

.course-embed #gform_wrapper_1 .top_label .gfield_label, #gform_wrapper_1 .field_sublabel_below .ginput_complex.ginput_container label {
    display: none
}

.course-embed #gform_wrapper_2 .top_label .gfield_label, #gform_wrapper_2 .field_sublabel_below .ginput_complex.ginput_container label {
    display: none
}

.course-embed #gform_wrapper_3 .top_label .gfield_label, #gform_wrapper_3 .field_sublabel_below .ginput_complex.ginput_container label {
    display: none
}

.course-embed #gform_wrapper_5 .top_label .gfield_label, #gform_wrapper_5 .field_sublabel_below .ginput_complex.ginput_container label {
    display: none
}

.course-embed #gform_wrapper_6 .top_label .gfield_label, #gform_wrapper_6 .field_sublabel_below .ginput_complex.ginput_container label {
    display: none
}

.course-embed input[type=text], textarea {
    background: #fff;
    border: 1px solid #999;
    font-size: 120%;
    border-radius: 0;
    color: #666 !important;
    padding: 15px !important
}

.course-embed .chosen-container-multi .chosen-choices {
    border: 1px solid #999;
    background-image: none !important
}

.course-embed .chosen-container-multi .chosen-choices li.search-field input[type=text] {
    color: #666 !important
}

.course-embed .gform_wrapper .gform_footer input.button {
    float: right;
    background: #db3476;
    border: 2px solid #db3476;
    font-size: 17px;
    color: #FFF !important;
    padding: 5px 21px;
    border-radius: 50px;
    letter-spacing: 2px;
    cursor: pointer
}

.course-embed .gform_wrapper .gform_footer input.button:hover {
    background: #000;
    border: 2px solid #000;
    box-shadow: none
}

.course-embed #gform_wrapper_1 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    border-radius: 3px;
    border: 1px solid #FFF !important
}

.course-embed #gform_wrapper_1 .gform_footer input.button {
    float: none !important;
    background: transparent;
    border: 2px solid #FFF !important;
    font-size: 22px;
    color: #FFF !important;
    font-weight: 400 !important;
    text-transform: none !important;
    width: 100%;
    padding: 10px 23px;
    border-radius: 50px !important;
    letter-spacing: 2px;
    cursor: pointer
}

.course-embed #gform_wrapper_1 .gform_footer input.button:hover {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: none !important;
    border: 2px solid transparent !important
}

.course-embed #gform_wrapper_1 .gform_footer {
    margin: 0px 0 0 !important;
    clear: both;
    width: 100%
}

.course-embed div#gform_confirmation_wrapper_1.gform_confirmation_wrapper {
    text-align: center;
    color: #FFF;
    font-weight: 600;
    line-height: 1.4;
    font-size: 120%
}

.course-embed #gform_wrapper_1 .gfield_checkbox li label {
    margin: 0;
    color: #FFF !important;
    font-size: 110%
}

.course-embed #gform_wrapper_1 input[type=checkbox] + label, #gform_wrapper_1 input[type=radio] + label {
    font-size: 16px
}

.course-embed #gform_wrapper_1 input[type=checkbox] + label:hover, #gform_wrapper_1 input[type=radio] + label:hover {
    cursor: pointer
}

.course-embed #gform_wrapper_1 input[type=checkbox] + label:before, #gform_wrapper_1 input[type=radio] + label:before {
    font-family: "ETmodules" !important;
    font-size: 30px;
    position: relative;
    top: 0.3em;
    color: #FFF;
    margin-right: 0.2em
}

.course-embed input#choice_1_4_1:before {
    color: #FFF !important;
    top: 0em !important
}

.course-embed label#label_1_4_1 a {
    color: #FFF !important;
    text-decoration: none !important
}

.course-embed #gform_wrapper_2 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    border-radius: 3px;
    border: 1px solid #FFF !important
}

.course-embed #gform_wrapper_2 .gform_footer input.button {
    float: none !important;
    background: transparent;
    border: 2px solid #FFF !important;
    font-size: 22px;
    color: #FFF !important;
    font-weight: 400 !important;
    text-transform: none !important;
    width: 80%;
    max-width: 400px;
    display: table;
    margin: auto;
    padding: 10px 23px;
    border-radius: 50px !important;
    letter-spacing: 2px;
    cursor: pointer
}

.course-embed #gform_wrapper_2 .gform_footer input.button:hover {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: none !important;
    border: 2px solid transparent !important
}

.course-embed #gform_wrapper_2 .gform_footer {
    margin: 0px 0 0 !important;
    clear: both;
    width: 100%
}

.course-embed div#gform_confirmation_wrapper_2.gform_confirmation_wrapper {
    text-align: center;
    color: #FFF;
    font-weight: 600;
    line-height: 1.4;
    font-size: 120%
}

.course-embed #gform_wrapper_2 .gfield_checkbox li label {
    margin: 0;
    color: #FFF !important;
    font-size: 110%
}

.course-embed #gform_wrapper_2 input[type=checkbox] + label, #gform_wrapper_2 input[type=radio] + label {
    font-size: 14px
}

.course-embed #gform_wrapper_2 input[type=checkbox] + label:hover, #gform_wrapper_2 input[type=radio] + label:hover {
    cursor: pointer
}

.course-embed #gform_wrapper_2 input[type=checkbox] + label:before, #gform_wrapper_2 input[type=radio] + label:before {
    font-family: "ETmodules" !important;
    font-size: 30px;
    position: relative;
    top: 0.3em;
    color: #FFF;
    margin-right: 0.2em
}

.course-embed input#choice_2_4_1:before {
    color: #FFF !important;
    top: 0em !important
}

.course-embed label#label_2_4_1 a {
    color: #FFF !important;
    text-decoration: none !important
}

.course-embed #gform_wrapper_2 ul.gform_fields {
    padding-bottom: 0px !important
}

.course-embed body #gform_wrapper_2 ul li.gfield {
    margin-top: 0px !important;
    padding-top: 0
}

.course-embed #gform_wrapper_2 ul.gfield_checkbox, .gform_wrapper ul.gfield_radio {
    margin: 0px 0 !important;
    padding: 0;
    padding-left: 0px !important
}

.course-embed li.gchoice_2_4_1 {
    text-align: center !important
}

.course-embed #gform_wrapper_2 .gform_footer {
    padding: 10px 0 0px !important
}

.course-embed #gform_wrapper_2 .top_label li ul.gfield_checkbox {
    width: fit-content !important
}

.course-embed #gform_wrapper_3 .gform_footer {
    padding: 10px 0 0px !important
}

.course-embed li.gchoice_3_4_1 {
    text-align: center !important
}

.course-embed body #gform_wrapper_3 ul li.gfield {
    margin-top: 0px !important;
    padding-top: 0
}

.course-embed #gform_wrapper_3 ul.gfield_checkbox, .gform_wrapper ul.gfield_radio {
    margin: 0px 0 !important;
    padding: 0;
    padding-left: 0px !important
}

.course-embed #gform_wrapper_3 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    border-radius: 3px;
    border: 1px solid #FFF !important
}

.course-embed #gform_wrapper_3 .gform_footer input.button {
    float: none !important;
    background: transparent;
    border: 2px solid #FFF !important;
    font-size: 22px;
    color: #FFF !important;
    font-weight: 400 !important;
    text-transform: none !important;
    width: 100%;
    max-width: 400px;
    display: table;
    margin: auto;
    padding: 10px 23px;
    border-radius: 50px !important;
    letter-spacing: 2px;
    cursor: pointer
}

.course-embed #gform_wrapper_3 .gform_footer input.button:hover {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: none !important;
    border: 2px solid transparent !important
}

.course-embed #gform_wrapper_3 .gform_footer {
    margin: 0px 0 0 !important;
    clear: both;
    width: 100%
}

.course-embed div#gform_confirmation_wrapper_3.gform_confirmation_wrapper {
    text-align: center;
    color: #FFF;
    font-weight: 600;
    line-height: 1.4;
    font-size: 120%
}

.course-embed #gform_wrapper_3 .gfield_checkbox li label {
    margin: 0;
    color: #FFF !important;
    font-size: 110%
}

.course-embed #gform_wrapper_3 input[type=checkbox] + label, #gform_wrapper_3 input[type=radio] + label {
    font-size: 16px
}

.course-embed #gform_wrapper_3 input[type=checkbox] + label:hover, #gform_wrapper_3 input[type=radio] + label:hover {
    cursor: pointer
}

.course-embed #gform_wrapper_3 input[type=checkbox] + label:before, #gform_wrapper_3 input[type=radio] + label:before {
    font-family: "ETmodules" !important;
    font-size: 30px;
    position: relative;
    top: 0.3em;
    color: #FFF;
    margin-right: 0.2em
}

.course-embed input#choice_3_4_1:before {
    color: #FFF !important;
    top: 0em !important
}

.course-embed label#label_3_4_1 a {
    color: #FFF !important;
    text-decoration: none !important
}

.course-embed #gform_wrapper_3 ul.gform_fields {
    padding-bottom: 0px !important
}

.course-embed #gform_wrapper_4 .gfield_checkbox li label {
    margin: 0;
    font-size: 16px
}

.course-embed #gform_wrapper_4 .gfield_checkbox li input, #gform_wrapper_4 .gfield_checkbox li input[type=checkbox], #gform_wrapper_4 .gfield_radio li input[type=radio] {
    vertical-align: baseline !important
}

.course-embed .gform_wrapper .description_above .gfield_description {
    padding: 0 0 0px !important
}

.course-embed .gform_wrapper ul.gfield_radio {
    margin: 0px 0 !important;
    padding: 0
}

body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0px
}

#field_4_49 .gfield_label {
    display: none
}

div#gform_widget-2 {
    background: #db3476;
    display: table;
    margin: auto;
    padding: 10px 20px
}

div#gform_widget-2 h4 {
    color: #FFF !important;
    text-align: center;
    font-size: 140%
}

#gform_wrapper_2 ul.gform_fields li.gfield {
    padding-right: 0px !important
}

#gform_wrapper_2 ul.gfield_checkbox li {
    padding: 0 !important;
    display: flex;
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
}

@media only screen and (min-width: 641px) {
    #gform_wrapper_5 ul.gform_fields li.gfield {
        padding-right: 0px !important
    }
}

#gform_wrapper_5 .top_label div.ginput_container {
    margin-top: 10px !important
}

#field_5_49 .gfield_label {
    display: none
}

#gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    border-radius: 3px;
    border: 1px solid #FFF !important
}

#gform_wrapper_5 .gform_footer input.button {
    float: none !important;
    background: transparent;
    border: 2px solid #FFF !important;
    font-size: 22px;
    color: #FFF !important;
    font-weight: 400 !important;
    text-transform: none !important;
    width: 100%;
    max-width: 500px;
    display: table;
    margin: auto;
    padding: 10px 23px;
    border-radius: 50px !important;
    letter-spacing: 2px;
    cursor: pointer
}

#gform_wrapper_5 .gform_footer input.button:hover {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: none !important;
    border: 2px solid transparent !important
}

#gform_wrapper_5 .gform_footer {
    margin: 0px 0 0 !important;
    clear: both;
    width: 100%
}

div#gform_confirmation_wrapper_5.gform_confirmation_wrapper {
    text-align: center;
    color: #FFF;
    font-weight: 600;
    line-height: 1.4;
    font-size: 120%
}

#gform_wrapper_5 .gfield_checkbox li label {
    margin: 0;
    color: #FFF !important;
    font-size: 110%
}

#gform_wrapper_5 input[type=checkbox] + label, #gform_wrapper_5 input[type=radio] + label {
    font-size: 14px
}

#gform_wrapper_5 input[type=checkbox] + label:hover, #gform_wrapper_5 input[type=radio] + label:hover {
    cursor: pointer
}

#gform_wrapper_5 input[type=checkbox] + label:before, #gform_wrapper_5 input[type=radio] + label:before {
    font-family: "ETmodules" !important;
    font-size: 30px;
    position: relative;
    top: 0.3em;
    color: #FFF;
    margin-right: 0.2em
}

input#choice_5_4_1:before {
    color: #FFF !important;
    top: 0em !important
}

label#label_5_4_1 a {
    color: #FFF !important;
    text-decoration: none !important
}

#gform_wrapper_5 ul.gform_fields {
    padding-bottom: 0px !important
}

body #gform_wrapper_5 ul li.gfield {
    margin-top: 0px !important;
    padding-top: 0
}

#gform_wrapper_5 ul.gfield_checkbox, .gform_wrapper ul.gfield_radio {
    margin: 0px 0 !important;
    padding: 0;
    padding-left: 0px !important
}

li.gchoice_5_4_1 {
    text-align: center !important
}

#gform_wrapper_5 .gform_footer {
    padding: 10px 0 0px !important
}

.et_pb_widget_area_left {
    padding-right: 0px
}

#gform_wrapper_6 .top_label div.ginput_container {
    margin-top: 10px !important
}

#field_6_49 .gfield_label {
    display: none
}

#gform_wrapper_6 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    border-radius: 0px;
    border: 1px solid #999 !important
}

#gform_wrapper_6 .gform_footer input.button {
    float: right !important;
    background: #7272ff;
    border: 2px solid #7272ff !important;
    font-size: 16px;
    color: #FFF !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    width: auto;
    max-width: 500px;
    display: table;
    margin: auto;
    padding: 17px 23px;
    border-radius: 50px !important;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0px 10px 30px 0px rgba(146, 113, 246, 0.3)
}

#gform_wrapper_6 .gform_footer input.button:hover {
    letter-spacing: 2px
}

#gform_wrapper_6 .gform_footer {
    margin: 0px 0 0 !important;
    clear: both;
    width: 100%
}

div#gform_confirmation_wrapper_6.gform_confirmation_wrapper {
    text-align: center;
    color: #FFF;
    font-weight: 600;
    line-height: 1.4;
    font-size: 120%
}

#gform_wrapper_6 .gfield_checkbox li label {
    margin: 0;
    color: #999 !important;
    font-size: 110%
}

#gform_wrapper_6 input[type=checkbox] + label, #gform_wrapper_6 input[type=radio] + label {
    font-size: 16px
}

#gform_wrapper_6 input[type=checkbox] + label:hover, #gform_wrapper_6 input[type=radio] + label:hover {
    cursor: pointer
}

#gform_wrapper_6 input[type=checkbox] + label:before, #gform_wrapper_6 input[type=radio] + label:before {
    font-family: "ETmodules" !important;
    font-size: 30px;
    position: relative;
    top: 0.3em;
    color: #db3476;
    margin-right: 0.2em
}

input#choice_6_4_1:before {
    color: #666 !important;
    top: 0em !important
}

label#label_6_4_1 a {
    color: #666 !important;
    text-decoration: none !important
}

#gform_wrapper_6 ul.gform_fields {
    padding-bottom: 0px !important
}

body #gform_wrapper_6 ul li.gfield {
    margin-top: 0px !important;
    padding-top: 0
}

#gform_wrapper_6 ul.gfield_checkbox, .gform_wrapper ul.gfield_radio {
    margin: 0px 0 !important;
    padding: 0;
    padding-left: 0px !important
}

li.gchoice_6_4_1 {
    text-align: left !important
}

#gform_wrapper_6 .gform_footer {
    padding: 10px 0 0px !important
}

.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox] {
    vertical-align: top
}

.job_filters .job_types {
    font-size: 110% !important;
    background: #FFF !important;
    border-top: 0px !important;
    display: table;
    margin: auto
}

.job_filters {
    background: #FFF !important;
    zoom: 1;
    margin-bottom: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
}

.job_filters .job_types li {
    margin: 0;
    padding: 0.5em 1em 1.5em;
    float: left;
    border-right: 0px !important
}

.rp4wp-related-job_listing > ul li.job_listing a div.position h3, .rp4wp-related-job_listing > ul li.no_job_listings_found a div.position h3, ul.job_listings li.job_listing a div.position h3, ul.job_listings li.no_job_listings_found a div.position h3 {
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 1.2em;
    color: #db3476 !important
}

.job-manager .full-time, .job-types .full-time, .job_listing .full-time {
    color: #7272ff !important;
    font-size: 1.2em
}

.rp4wp-related-job_listing > ul li.job_listing a div.location, .rp4wp-related-job_listing > ul li.no_job_listings_found a div.location, ul.job_listings li.job_listing a div.location, ul.job_listings li.no_job_listings_found a div.location {
    color: #666 !important;
    font-weight: 700
}

.rp4wp-related-job_listing > ul li.job_listing a div.position .company .tagline, .rp4wp-related-job_listing > ul li.no_job_listings_found a div.position .company .tagline, ul.job_listings li.job_listing a div.position .company .tagline, ul.job_listings li.no_job_listings_found a div.position .company .tagline {
    margin-left: 0em !important;
    color: #666 !important
}

.rp4wp-related-job_listing > ul li.job_listing a div.position .company, .rp4wp-related-job_listing > ul li.no_job_listings_found a div.position .company, ul.job_listings li.job_listing a div.position .company, ul.job_listings li.no_job_listings_found a div.position .company {
    color: #666 !important;
    display: inline-grid;
    float: left
}

li.date {
    color: #666 !important;
    font-size: 80%
}

.rp4wp-related-job_listing > ul li.job_listing, .rp4wp-related-job_listing > ul li.no_job_listings_found, ul.job_listings li.job_listing, ul.job_listings li.no_job_listings_found {
    padding: 25px 0px !important;
    border-bottom: 0px !important
}

ul.job_listings {
    border-top: 0px !important
}

.job-manager-application-wrapper .application .application_button, .single_job_listing .application .application_button, input.button {
    padding: .7em 2em;
    margin: 22px 10px;
    color: #ffffff !important;
    border-width: 10px !important;
    border-color: #7272ff;
    border-radius: 100px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    background-color: #7272ff
}

.job-manager-application-wrapper .application .application_button:hover, .single_job_listing .application .application_button:hover, input.button:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
}

.job_listing p.post-meta {
    display: none
}

.job_listing .entry-content {
    padding-top: 0px !important
}

ul.job-listing-meta.meta {
    padding: 0 0 10px 0em !important;
    list-style-type: none !important
}

.single_job_listing .meta .job-type:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager !important;
    text-decoration: none;
    font-weight: 400;
    color: #999 !important;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 2px 0 0;
    content: '\e828'
}

.single_job_listing .meta .job-type {
    background-color: #FFF !important;
    color: #db3476 !important
}

.single_job_listing .meta li {
    font-size: 105% !important
}

.job-manager-form fieldset {
    border-bottom: 0px !important
}

.job-manager-form fieldset div.field {
    width: 100%
}

.job-manager-form fieldset label {
    display: block;
    margin: 0;
    width: 29%;
    float: left;
    vertical-align: middle;
    color: #db3476 !important;
    font-weight: 700;
    font-size: 110%
}

form#submit-job-form.job-manager-form {
    display: table;
    margin: auto;
    width: 100%
}

div.inv-recaptcha-holder {
    margin-bottom: 15px !important
}

div.filter_wide.filter_by_tag {
    display: none !important
}

@media all and (min-width: 981px) {
    .job-manager-form fieldset label {
        width: 100%
    }

    fieldset.fieldset-job_location {
        width: 35%;
        float: left
    }

    fieldset.fieldset-job_state {
        width: 25%;
        float: left;
        margin: 0px 23px
    }

    fieldset.fieldset-job_country {
        width: 35%
    }
}

@media all and (min-width: 981px) {
    ::-webkit-scrollbar {
        width: 15px;
        overflow: auto
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: #db3476
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #db3476;
        opacity: .5
    }
}

.blurb_link:hover {
    cursor: pointer !important
}

.post-password-required .et_pb_section {
    height: 80vh;
    margin-top: 8em
}

@media only screen and (min-width: 1101px) {
    .post-password-required .et_password_protected_form {
        width: 45%;
        display: table;
        margin: auto
    }
}

@media only screen and (max-width: 1100px) {
    .post-password-required .et_password_protected_form {
        width: 75%;
        display: table;
        margin: auto
    }
}

.et_pb_button:after {
    display: none
}

.et_password_protected_form .et_submit_button:hover {
    background: #db3476 !important;
    color: #FFF !important
}

.et_password_protected_form .et_submit_button {
    font-weight: 600 !important
}

.post-password-required .et_password_protected_form p {
    min-height: initial;
    font-size: 130% !important
}

form#_form_19_ {
    display: flex !important;
    justify-content: center !important;
    padding-top: 20px !important;
    padding-left: 5px
}

#_form_19_ ._form_element {
    max-width: 430px !important
}

.single-job_listing .et_post_meta_wrapper img {
    display: none
}

#content-area .llms-meta-info:first-of-type, #content-area .llms-syllabus-wrapper:first-of-type {
    display: block
}

#content-area .llms-meta-info, #content-area .llms-syllabus-wrapper {
    display: none
}

.product-type-variable-subscription p.price {
    display: none
}

.llms-loop-list.cols-5 .owl-carousel .owl-item {
    margin: 0;
}

.llms-loop-list.cols-5 .llms-loop-item {
    width: 100%;
    list-style-type: none;
    padding-left: 0.5em;
}

.llms-loop-item:before {
    content: '' !important;
}

.llms-loop-list.cols-5 llms-loop-item a {
    text-decoration: none !important;
}

/* .owl-nav {
    text-align: center
} */

.owl-nav button {
    margin: 0px 10px 0px 0px;
    font-weight: bold !important;
}

div.owl-carousel .owl-nav .owl-next {
    position: relative;
    top: -220px;
    float: right;
    left: 45px;
}

div.owl-carousel .owl-nav .owl-prev {
    position: relative;
    top: -220px;
    float: left;
    right: 35px;
}

ul.llms-loop-list h2 {
    color: #522E92;
    padding: 5px;
    font-weight: 300;
    margin: 0 !important;
}

.llms-lesson-preview {
    background: #7272FF;
}

.llms-lesson-preview .llms-lesson-link, .llms-lesson-preview .llms-lesson-link:hover {
    background: #7272FF;
}

.llms-main h5, .llms-main h6 {
    color: #fff;
}

.llms-button-primary:hover, .llms-button-action:hover, .llms-button-action.clicked, .llms-button-primary.clicked {
    background: #6464e0;
    color: #fff !important;
    font-weight: bold;
}

.llms-button-primary, .llms-button-action {
    color: #fff !important;
}

.llms-lesson-preview .llms-main {
    float: right;
    width: 86%;
    position: relative
}

@media (min-width: 220px) and (max-width: 600px) {
    .llms-lesson-preview .llms-main {
        width: 70%
    }

    .eli_content {
        width: inherit !important;
        margin-bottom: 35px;
    }

    .course-embed .llms-loop-item-content .llms-loop-item-image img {
        height: 210px !important;
    }

    .llms-loop-list.cols-5 .llms-loop-item {
        padding-left: 0;
    }

    div.owl-carousel .owl-nav .owl-prev {
        top: 0 !important;
        right: 0 !important;
    }

    div.owl-carousel .owl-nav .owl-next {
        top: 0 !important;
        left: 0 !important;
    }

    ul.llms-loop-list h2 {
        margin: 1.8em 0 0.75em !important
        font-size: 1.75em !important;
    }

    .llms-loop-item-content h4.llms-loop-title {
        min-height: 2.5em !important;
        font-weight: 21px !important;
    }

    .owl-carousel .owl-item .course-instructor img {
        width: 6.7% !important;
    }

    ul.llms-loop-list h2 {
        font-weight: 1.75em !important;
    }

    .course-embed .llms-loop-item-content .llms-loop-item-image img {
        height: 128px;
    }
}

div.owl-carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #bcbcf0;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px
}

div.owl-carousel .owl-dots .owl-dot.active span, div.owl-carousel .owl-dots .owl-dot:hover span {
    background: #522E92
}

div.owl-carousel .owl-dots {
    text-align: center
}

.llms-loop-item-content {
    background: #522E92;
    margin: 10px;
}

.llms-loop-item-content:hover {
    background: #bcbcf0
}

.llms-loop-item-content a, .llms-loop-item-content p, .llms-loop-item-content .llms-loop-title, .llms-loop-item-content .llms-loop-link, .llms-loop-item-content .llms-loop-link:visited, .llms-loop-item-content div {
    color: #fff
}

.woocommerce table.my_account_orders .button {
    font-size: 12px
}

.woocommerce table.my_account_orders .button:after {
    content: none
}

.owl-carousel .owl-item .course-instructor {
    padding: 5px 10px;
    display: flex;
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;

}

.owl-carousel .owl-item .course-instructor img {
    display: inline-block;
    width: 8%;
    margin: 0px 0px 0px 0px;
}

div.time-ce {
    overflow: hidden;
    padding: 0 10px 10px;
}

div.time-length {
    float: left;
    width: 50%
}

div.course-instructor span {
    vertical-align: bottom;
    font-size: 12px;
    color: #fff
}

div.time-length span, div.course-ce span {
    /* vertical-align: super; */
    font-size: 12px;
    color: #fff
}

.owl-carousel .owl-item div.time-length img {
    display: inline-block;
    width: 14%
}

.owl-carousel .owl-item div.course-ce img {
    display: inline-block;
    width: 38%
}

.owl-carousel .owl-item div.course-instructor img {
    margin-right: 5px
}

div.course-ce {
    float: right;
    width: 40%
}

.woocommerce table.my_account_orders .order-actions .button {
    padding: 3px;
    background: #7272ff;
    color: #fff;
    border-radius: 10px
}

.woocommerce input.woocommerce-Button.button {
    background: #7272ff
}

#left-area ul.llms-course-list {
    padding: 0px 2em 0px 2em
}

.llms-loop-item-content h4.llms-loop-title {
    margin-top: 5px;
    font-size: 14px !important;
    padding: 0 10px;
    font-weight: 300;
    min-height: 3.4em;
}

div.woocommerce-account-join-team .woocommerce-privacy-policy-text {
    margin-top: 105px;
}

.logged-in .et_pb_section_2 {
    background: inherit;
}

.page-id-210111 .entry-content h4 {
    margin-bottom: 0px;
}

@media screen and (max-width: 480px) {
    .page-id-210111 .entry-content h4 {
        padding-top: 15px;
    }
}

.nav li li {
    line-height: 1.5em;
}

.nav li ul {
    width: 300px;
}

#top-menu li li a {
    width: 280px;
}

.nav ul li a:hover, .et_mobile_menu li a:hover {
    opacity: 0.7;
    background-color: rgba(114, 114, 255, 0.1);
}

.woocommerce .order_details ul.wc-item-meta li {
    list-style-type: none;
}

#footer-info {
    font-family: inherit;
}

#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
    background: #7272FF;
    border-top: 1px solid #eee;
    font-weight: bold;
    color: #FFFFFF;
    padding: 8px;
    text-align: center;
}

#bbpress-forums li.bbp-header {
    background: #7272FF;
}

span.bbp-admin-links {
    float: right;
    color: #ddd;
}

span.bbp-admin-links a {
    color: #7272FF;
    font-weight: bold;
    font-size: 12px;
}

#bbpress-forums .submit {
    background-color: #7272FF;
    color: #FFFFFF;
    vertical-align: middle;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    font-size: 20px;
    font-weight: bold
}

#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
    display: none ! important;
}

#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar {
    display: none ! important;
}

#bbpress-forums {
    background: transparent;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #000000
}

#bbpress-forums .bbp-topic-content, #bbpress-forums .bbp-reply-content, #bbpress-forums .bbp-reply-author, #bbpress-forums li.bbp-forum-info, li.bbp-topic-title, #bbpress-forums li.bbp-forum-info, li.bbp-topic-voice-count, #bbpress-forums li.bbp-forum-info, li.bbp-topic-reply-count {
    font-size: 14px;
}

#bbpress-forums p.bbp-topic-meta span {
    display: none ! important;
}

#bbpress-forums li.bbp-forum-info, li.bbp-topic-voice-count, #bbpress-forums li.bbp-forum-info, li.bbp-topic-freshness, #bbpress-forums .bbp-author-role, #bbpress-forums span.bbp-author-ip, #bbpress-forums .bbp-breadcrumb-root {
    display: none ! important;
}

#bbpress-forums fieldset.bbp-form legend {
    font-weight: bold;
    text-transform: uppercase;
}

#bbpress-forums a.subscription-toggle {
    text-transform: uppercase;
    background-color: #7272FF;
    color: #FFFFFF;
    vertical-align: middle;
    border-radius: 6px;
    font-size: 11px;
    padding: 5px;
    margin-left: 5px;
    font-weight: bold
}

div.toolbar, div.toolbar-2, div.toolbar-3, div.toolbar-4 {
    background: #b89d9d;
    padding: 8px;
}

.woocommerce span.onsale, .woocommerce-page span.onsale {
    display: none ! important;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 15% !important;
}

.woocommerce-account .woocommerce-MyAccount-content {
    width: 82% !important;
}

.et_pb_section {
    background-color: inherit;
}

@media only screen and (min-width: 769px) and (max-width: 1170px) {
    .search_section:before {
        height: 130px;
        width: 1300px;
        background-size: cover;
    }

    .course_search form.et_pb_searchform input.et_pb_s {
        width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .course_search {
        display: block;
        height: auto;
        text-align: center
    }

    .search_section:before {
        height: 200px;
        width: 900px;
        background-size: cover;
    }

    .course_search form.et_pb_searchform input.et_pb_s {
        width: 100%;
    }

    .course_search img{
        width: 50%;
        margin-bottom: 15px;
    }

}

@media only screen and (min-width: 164px) and (max-width: 479px) {

    .section-page-header {
        padding: 3em 0 2em !important;
    }

    .eli_row {
        margin-bottom: 0;
    }

    .eli_column {
        margin-bottom: 20px;
    }

    .eli_content .eli_image {
        width: 28px;
        height: auto;
        padding-top: 2px;
    }

    .course_search {
        display: block;
        height: auto;
        text-align: center
    }

    .search_section:before {
        height: 192px;
        width: 534px;
        background-size: cover;
    }

    .course_search form.et_pb_searchform input.et_pb_s {
        width: 100%;
        margin: 15px 0;
    }

    .course_search img{
        width: 80%;
    }

    .course_search form.et_pb_searchform {
        display: block;
    }

}

div.et_pb_section.et_pb_section_0 {
    background-image: url(https://www.eventleadershipinstitute.com/wp-content/uploads/2019/01/ELI-background-videos.jpg) !important
}

.et_pb_image_3 {
    text-align: left;
    margin-left: 0;
}

.et_pb_blurb_7 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92;
}

.et_pb_blurb_8.et_pb_blurb h4, .et_pb_blurb_8.et_pb_blurb h4 a, .et_pb_blurb_8.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_8.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_8.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_8.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_8.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_8.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_8.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_8.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_8.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_8.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: left;
}

.et_pb_blurb_8 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92;
}

.et_pb_blurb_9.et_pb_blurb h4, .et_pb_blurb_9.et_pb_blurb h4 a, .et_pb_blurb_9.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_9.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_9.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_9.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_9.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_9.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_9.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_9.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_9.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_9.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: left;
}

.et_pb_blurb_9 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92;
}

.et_pb_blurb_10.et_pb_blurb h4, .et_pb_blurb_10.et_pb_blurb h4 a, .et_pb_blurb_10.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_10.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_10.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_10.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_10.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_10.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_10.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_10.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_10.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_10.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: left;
}

.et_pb_blurb_10 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92
}

.et_pb_blurb_11.et_pb_blurb h4, .et_pb_blurb_11.et_pb_blurb h4 a, .et_pb_blurb_11.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_11.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_11.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_11.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_11.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_11.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_11.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_11.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_11.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_11.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: left;
}

.et_pb_blurb_11 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92
}

.et_pb_section_3 {
    background: inherit;
}

.et_pb_image_0 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_1 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_2 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_4 {
    text-align: left;
    margin-left: 0;
}

.et_pb_blurb_6 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92
}

.et_pb_image_5 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_6 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_7 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_8 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_9 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_10 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_11 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_12 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_13 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_14 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_15 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_16 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_17 {
    text-align: left;
    margin-left: 0;
}

.et_pb_image_18 {
    text-align: left;
    margin-left: 0;
}

.et_pb_blurb_7.et_pb_blurb h4, .et_pb_blurb_7.et_pb_blurb h4 a, .et_pb_blurb_7.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_7.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_7.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_7.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_7.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_7.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_7.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_7.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_7.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_7.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: left;
}

.et_pb_blurb_6.et_pb_blurb h4, .et_pb_blurb_6.et_pb_blurb h4 a, .et_pb_blurb_6.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_6.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_6.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_6.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_6.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_6.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_6.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_6.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_6.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_6.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: center;
}

.et_pb_section_0.et_pb_section {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.et_pb_search_0 {
    max-width: 49%;
}

.et_pb_row_0 {
    background-position: top center;
    background-image: url(https://www.eventleadershipinstitute.com/wp-content/uploads/2019/01/ELI-background-videos.jpg);
}

.et_pb_row_0.et_pb_row {
    padding-top: 33px !important;
    padding-right: 72px !important;
    padding-bottom: 25px !important;
    padding-left: 72px !important;
    padding-top: 33px;
    padding-right: 72px;
    padding-bottom: 25px;
    padding-left: 72px
}

.et_pb_search_0 input.et_pb_searchsubmit {
    color: #db3476 !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important
}

.et_pb_search_0 form input.et_pb_s, .et_pb_search_0 form input.et_pb_s::placeholder {
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    text-align: left
}

.et_pb_search_0 form input.et_pb_s::-webkit-input-placeholder {
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    text-align: left;
    color: #a8a8a8 !important
}

.et_pb_search_0 form input.et_pb_s::-ms-input-placeholder {
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    text-align: left
}

.et_pb_search_0 form input.et_pb_s::-moz-placeholder {
    font-size: 20px;
    text-align: left;
    color: #a8a8a8 !important
}

.et_pb_search_0 form input.et_pb_s::-moz-placeholder::-webkit-input-placeholder {
    font-size: 20px;
    text-align: left
}

.et_pb_search_0 form input.et_pb_s::-moz-placeholder::-moz-placeholder {
    font-size: 20px;
    text-align: left
}

.et_pb_search_0 form input.et_pb_s::-moz-placeholder::-ms-input-placeholder {
    font-size: 20px;
    text-align: left
}

.et_pb_search_0 input.et_pb_s {
    background-color: #ffffff;
    padding-top: 0.715em !important;
    padding-right: 0.715em !important;
    padding-bottom: 0.715em !important;
    padding-left: 0.715em !important;
    border-color: rgba(0, 0, 0, 0) !important;
    height: auto;
    min-height: 0
}

.et_pb_search_0.et_pb_search, .et_pb_search_0 input.et_pb_s {
    border-radius: 36px 36px 36px 36px;
    overflow: hidden
}

.et_pb_search_0.et_pb_search {
    border-width: 3px
}

.et_pb_search_0 form input.et_pb_s:-ms-input-placeholder {
    color: #a8a8a8 !important
}

.et_pb_row_2.et_pb_row {
    padding-top: 17px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-top: 17px;
    padding-right: 0px;
    padding-bottom: 0;
    padding-left: 0px
}

.et_pb_blurb_2 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92
}

.et_pb_blurb_5 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92
}

.et_pb_blurb_5.et_pb_blurb h4, .et_pb_blurb_5.et_pb_blurb h4 a, .et_pb_blurb_5.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_5.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_5.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_5.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_5.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_5.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_5.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_5.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_5.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_5.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: center
}

.et_pb_blurb_4 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92
}

.et_pb_blurb_4.et_pb_blurb h4, .et_pb_blurb_4.et_pb_blurb h4 a, .et_pb_blurb_4.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_4.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_4.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_4.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_4.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_4.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_4.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_4.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_4.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_4.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: left
}

.et_pb_blurb_3 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92
}

.et_pb_blurb_3.et_pb_blurb h4, .et_pb_blurb_3.et_pb_blurb h4 a, .et_pb_blurb_3.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_3.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_3.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_3.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_3.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_3.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_3.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_3.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_3.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_3.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: left
}

.et_pb_blurb_2.et_pb_blurb h4, .et_pb_blurb_2.et_pb_blurb h4 a, .et_pb_blurb_2.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_2.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_2.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_2.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_2.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_2.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_2.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_2.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_2.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_2.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: left
}

.et_pb_blurb_1 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92
}

.et_pb_blurb_1.et_pb_blurb h4, .et_pb_blurb_1.et_pb_blurb h4 a, .et_pb_blurb_1.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_1.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_1.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_1.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_1.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_1.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_1.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_1.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_1.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_1.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: left
}

.et_pb_blurb_0 .et-pb-icon {
    color: #ffffff;
    background-color: #522E92
}

.et_pb_blurb_0.et_pb_blurb h4, .et_pb_blurb_0.et_pb_blurb h4 a, .et_pb_blurb_0.et_pb_blurb h1.et_pb_module_header, .et_pb_blurb_0.et_pb_blurb h1.et_pb_module_header a, .et_pb_blurb_0.et_pb_blurb h2.et_pb_module_header, .et_pb_blurb_0.et_pb_blurb h2.et_pb_module_header a, .et_pb_blurb_0.et_pb_blurb h3.et_pb_module_header, .et_pb_blurb_0.et_pb_blurb h3.et_pb_module_header a, .et_pb_blurb_0.et_pb_blurb h5.et_pb_module_header, .et_pb_blurb_0.et_pb_blurb h5.et_pb_module_header a, .et_pb_blurb_0.et_pb_blurb h6.et_pb_module_header, .et_pb_blurb_0.et_pb_blurb h6.et_pb_module_header a {
    font-size: 17px;
    color: #666666 !important;
    text-align: center
}

.et_pb_row_1.et_pb_row {
    padding-top: 10px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0;
    padding-left: 0px
}

.et_pb_section_1.et_pb_section {
    padding-top: 23px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px
}

.et_pb_image_19 {
    text-align: left;
    margin-left: 0
}

.et_pb_search_0.et_pb_module {
    margin-left: auto !important;
    margin-right: auto !important
}

@media only screen and (min-width: 981px) {
    .et_pb_row_0, body #page-container .et-db #et-boc .et-l .et_pb_row_0.et_pb_row, body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_0.et_pb_row, body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_0.et_pb_row {
        width: 100%;
        max-width: 100%
    }
}

@media only screen and (max-width: 980px) {
    .et_pb_row_0, body #page-container .et-db #et-boc .et-l .et_pb_row_0.et_pb_row, body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_0.et_pb_row, body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_0.et_pb_row {
        width: 100%;
        max-width: 100%
    }

    .et_pb_image_10 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_18 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_17 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_16 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_15 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_14 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_13 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_12 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_11 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_9 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_0 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_8 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_7 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_6 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_5 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_4 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_3 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_19 {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    div.owl-carousel .owl-nav .owl-prev {
        top: 0 !important;
        right: 0 !important;
    }

    div.owl-carousel .owl-nav .owl-next {
        top: 0 !important;
        left: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .et_pb_image_0 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_11 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_18 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_17 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_16 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_15 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_14 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_13 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_12 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_10 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_1 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_9 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_8 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_7 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_6 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_5 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_4 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_3 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_2 {
        margin-left: auto;
        margin-right: auto
    }

    .et_pb_image_19 {
        margin-left: auto;
        margin-right: auto
    }
}