#main-content .container.search-category:before {
	width: 0px;
	display: none;
}
#main-content .container {
	padding-top: 0px;
}

.entry-page .entry-content:before{
	background:none;
}

.section-page-header {
	background-image: linear-gradient(to bottom,#fff,#fff) !important;
    padding: 3em 0 0 !important;
}

.section-page-header .entry-header {
	max-width: initial !important;
}

.llms-loop-item-content figure img { height: 134px; }

ul.llms-loop-list.llms-course-list.cols-5 { padding-left: 0 !important; }

.llms-loop-list.cols-5 .llms-loop-item {
	padding-left: 0 !important;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	right: 240px;
	width: auto;
	border-radius: 36px;
	position: relative;
	float: right;
	z-index: 99;
	top: 57px;
}

/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	will-change: transform, opacity;
}

/* Add styles to the form container */
.form-container {
	max-width: 500px;
	margin: 0 auto;
	padding: 10px 20px;
	background-color: white;
	position: relative;
	top: 12%;
	border-radius: 15px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
	position: relative;
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	margin-bottom:10px;
	margin-right: 5px;
	opacity: 0.8;
	float:right;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
	background-color: #9271f6;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
	opacity: 1;
}
.form-popup .title {
	color:#666666;
}
.adv_search_btn_container{
	height: 50px !important;
}
.form-container .select2-search__field {
	width: auto !important;
}
@media only screen and (max-device-width: 480px) {
	.open-button {
		right: 34%;
		font-size: 14px;
		top: 79px;
	}
	.form-container {
		margin-left: 10px;
		margin-right: 10px;
	}
	.et_pb_search_0 {
		max-width: 100%;
		top: -18px;
		position: relative;
	}
	.et_pb_search_0 form input.et_pb_s {
		font-size: 15px !important;
	}
}
@media only screen and (device-width: 768px) {
	.open-button {
		right: 12%;
	}
}
@media only screen and (max-device-width: 294px) {
	.open-button {
		right: 30%;
	}
}
@media only screen and (min-device-width: 481px) and (max-device-width: 619px) {
	.open-button {
		right: 6%;
	}
}
@media only screen and (min-device-width: 620px) and (max-device-width: 767px) {
	.open-button {
		right: 9%;
	}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
	.open-button {
		right: 13%;
	}
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body { font-family: 'Open Sans', sans-serif; }
h2 { color: #6667ff; font-size: 26px; font-weight: 300; padding: 5px; margin: 0; }
.container .eli_row h4 { color: #fff; font-size: 14px; font-weight: 300; margin-top: 5px; min-height: 62px; max-height: 70px; padding: 0 10px; }
.container { max-width: 1290px; margin: 0 auto; }
.eli_row { position: relative; width: 100%; overflow: hidden; margin-bottom: 35px; display: grid; grid-template-columns: repeat(6, 220px); padding-left: 0.5em; }
.eli_column { float: none; /*width: 16.6667%;*/ width: inherit; }
.eli_card { background: #6667ff; margin: 10px; }
.eli_content { text-align: left; max-width: 153px; }
.eli_content .eli_cat-name { margin-left: 45px; width: 200px; }
.eli_instructor span { color: #fff; font-size: 12px; }
.eli_content .eli_image { width:32px; float: left; background-color: #9271f6; border-radius: 100%; text-align: center; }
.eli_instructor { padding: 5px 10px; }
.eli_instructor img { width: 6%; }
.eli_card .eli_length { padding: 5px 10px; overflow: hidden; }
.eli_card .eli_length .course-ce { width: 40%; float: right; }
.eli_card .eli_length .course-ce img { width: 35%; }
.eli_card .eli_length .time { width: 50%; float: left; }
.eli_card .eli_length .time img { width: 14%; }
.eli_card .eli_length span { font-size: 12px; color: #fff; }
.eli_nav .eli_prev { position: absolute; top: 120px; left: -35px; }
.eli_nav .eli_prev img { width: 30px; }
.eli_nav .eli_next { position: absolute; top: 120px; right: -5px;}
.eli_nav .eli_next img { width: 30px; }
.fa, .fas {
	color: white;
}

.et_pb_posts_nav a, .et_pb_row, .et_pb_row_inner, .et_pb_column, .et_pb_module, .et_pb_counters .et_pb_counter_container,
.et_pb_portfolio_item, .et_pb_pricing_table, .et_pb_all_tabs, .et_pb_tab, .et_pb_slide, .et_pb_with_background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.et_pb_search_0.et_pb_module {
	margin-left: auto!important;
	margin-right: auto!important;
}

.et_pb_search_0.et_pb_search, .et_pb_search_0 input.et_pb_s {
	border-radius: 36px 36px 36px 36px;
	overflow: hidden;
}

@media screen and (min-width: 361px) and (max-width: 768px) {
	.eli_column { width: 42.08%; }
	.eli_content .eli_image img { width: 100%; }
	.eli_content .eli_cat-name { margin-left: 45px; width: auto; }
}

@media screen and (min-width: 160px) and (max-width: 360px) {
	.eli_column { width: 100%; margin-top: 4.5%; margin-bottom: 30px; }
	.eli_content { max-width: 100%; }
	.eli_content .eli_image img { width: 100%; }
	.eli_content .eli_cat-name { margin-left: 45px; width: auto; }
}

.search_section { position: relative; }

.search_section { 
    position: relative; 
    background: url(https://www.eventleadershipinstitute.com/wp-content/uploads/2019/01/ELI-background-videos.jpg) no-repeat;
    background-size: cover;
    min-width: 100vw !important;
    width: 100% !important;
    margin-left: calc(50% - 50vw) !important;
    padding-left: calc(50% - 31vw);
}

.course_search {
    display: flex;
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    height: 119.8px;
    margin-bottom: 35px;
}

.course_search form.et_pb_searchform {
    display: grid;
    grid-template-areas: "field field";
    grid-gap: 11px;
}

.course_search form.et_pb_searchform input.et_pb_s {
    width: 26em;
    background-color: #683ab9;
    border-radius: .25em;
    font-size: 16px;
    padding-top: 0.915em;
    padding-right: 0.715em;
    padding-bottom: 0.915em;
    padding-left: 0.715em;
    height: auto;
    min-height: 0;
    color: #fff;
    border: 3px solid #aaa;
}

.course_search form.et_pb_searchform input.et_pb_s::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-size: 16px;
}

.course_search form.et_pb_searchform input.et_pb_s::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-size: 16px;
}

.course_search form.et_pb_searchform input.et_pb_s:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  font-size: 16px;
}

.course_search form.et_pb_searchform input.et_pb_s::webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
}

.course_search form input[type=submit] {
    background: #fff;
    border: none;
    color: #212121;
    cursor: pointer;
    font-family: inherit;
    padding: 0 31px;
    border-radius: .25em;
    font-weight: 700;
}

.course_search img {
    position: relative;
    width: 60%;
}

.course_search form {
    position: relative;
}

/* Search bar and Course Category Responsive Media Queries */

@media only screen and (min-width: 1800px) and (max-width: 2000px) { 

    .search_section {
        padding-left: calc(50% - 10vw) !important;
    }
		.course_search {
	      width: 1100px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1799px) { 

    .search_section {
        padding-left: calc(50% - 23vw) !important;
    }
	
	.course_search {
	      width: 1100px;
    }
}

@media only screen and (min-width: 861px) and (max-width: 1170px) { 
   .course_search {
	   width: 700px;
   }
	.eli_row {
		grid-template-columns: repeat(3, 400px);
		margin: 0 !important;
	}

	.eli_column {
		margin-bottom: 15px;
	}
	
	.eli_content {
		margin-bottom: 15px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 860px) {	
	.search_section {
		padding-left: inherit;
		padding: 0 5em;
	}
	.course_search {
		width: auto !important;
		display: block !important;
		height: auto;
	}
	.eli_row {
		grid-template-columns: repeat(3, auto);
	}
	.eli_column {
		margin-bottom: 35px;
	}
	.eli_content .eli_image {
		height: 32px;
    	padding-top: 3px;
	}
}

@media only screen and (min-width: 164px) and (max-width: 479px) {
	.search_section {
		padding: 0 3em;
	}
	.course_search {
		width: inherit !important;
		display: block !important;
	}
	.eli_row {
		grid-template-columns: repeat(2, auto) !important;
	}
	.eli_column {
		margin-bottom: 35px;
	}
}